/**=====================
   Offer page css
==========================**/
.coupon-box {
  position: relative;
  padding: 20px;
  background: $top-header;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;

  .coupon-name {
    display: block;

    h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      margin: 0;
      letter-spacing: unset;
      line-height: 1.4;
    }
  }

  .coupon-content {
    margin-top: 8px;

    p {
      color: #777;
      line-height: 1.6;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      font-weight: 500;
      -webkit-box-orient: vertical;
      font-size: 15px;
      margin-bottom: 11px;
    }

    .coupon-apply {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 12px;
      border-top: 1px dashed rgba(0, 0, 0, 0.12);

      h6 {
        font-weight: 600;
        color: #232323;
        line-height: 1.3;
        margin: 0;
        font-size: 15px;
      }

      .copy-btn {
        border: unset;
        color: var(--theme-color);
        padding: 0;
      }
    }
  }
}